{%load static%}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"  href="{%static 'main/css/pashalka.css' %">
        <title>Изучаем HTML and CSS</title>
        <body>
          <div class="card">
              <img  class="card-photo" src="{%static 'main/img/089a1cd8c3b57cedf2aac73607787c49.jpg' %}" alt="Timur N">
              <h1 class="card-title"> Timur Nazarbekov</h1>
              <div class = "card-text">
              
          </div>
        </body>
    </head>
</html>